<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MySuite" verbose="1" thread-count="2" parallel="tests">
    <test name="Chrome" thread-count="5" parallel="methods">
        <parameter name="browser" value="CHROME"/>
        <packages>
            <package name="org.selenium.pom.tests"/>
        </packages>
    </test>

<!--    <test name="Firefox" thread-count="2" parallel="methods">-->
<!--        <parameter name="browser" value="FIREFOX"></parameter>-->
<!--        <classes>-->
<!--            <class name="org.example.pom.tests.MyFirstTestCase">-->
<!--                <methods>-->
<!--                    <include name="guestCheckoutUsingDirectBankTransferTest"/>-->
<!--                    <include name="loginAndCheckoutUsingDirectBankTransferTest"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
</suite>